<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-img id="logo" src="./assets/icon/logo.png"></ion-img>
        </ion-col>
        <ion-col style="padding-top: 15px;" size="6">
          <ion-title>Task Details</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="tertiary">
  <p>{{tarea}}</p>
  <hr>

  <h1 style="text-align:center">Nombre Tarea</h1>
  <p style="text-align:center">Preyecto: NombreProyecto</p>
  <hr>

  <ion-progress-bar color="warning" value="0.5"></ion-progress-bar>
  <p style="text-align:center">Progreso: 50%</p>
  <hr>

  <ion-button fill="outline" color="light" expand="block" (click)="cambiarEstadoProyecto()">
    Actualizar estado del proyecto
  </ion-button>
  <hr>

  <p style="padding-left:5%;">Detalles:</p>
  <ion-card color="light" (click)="cambiarEdtText()">
    <ion-card-content style="text-align:justify">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <p style="padding-left:5%;">Anotaciones:</p>
  <ion-card color="light" (click)="cambiarEdtText()">
    <ion-card-content style="text-align:justify">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-button fill="outline" color="light" expand="block" (click)="cambiarDashboard()">
    Aceptar
  </ion-button>
</ion-content>
