<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-img id="logo" src="./assets/icon/logo.png"></ion-img>
        </ion-col>
        <ion-col style="padding-top: 15px;" size="6">
          <ion-title>Task Details</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="tertiary">
  <h1 style="text-align:center">{{tareas.nombre}}</h1>
  <p style="text-align:center">{{tareas.proyecto}}</p>
  <hr>

  <ion-progress-bar color="{{tareas.prioridad}}" value="{{tareas.progreso}}"></ion-progress-bar>
  <p style="text-align:center">Progreso: {{(tareas.progreso*100)}}%</p>
  <p style="text-align:center">Prioridad: 
    <span *ngIf="tareas.prioridad=='danger'">Alta</span>
    <span *ngIf="tareas.prioridad=='warning'">Media</span>
    <span *ngIf="tareas.prioridad=='success'">Baja</span>
  </p>
  <p style="text-align:center">Estado: {{tareas.estado}}</p>
  <p style="text-align:center">Responsable: {{tareas.responsable}}</p>

  <ion-button fill="outline" color="light" expand="block" (click)="cambiarEstadoProyecto(tareas._id)">
    Actualizar estado del proyecto
  </ion-button>
  <hr>

  <p style="padding-left:5%;">Descripción:</p>
  <ion-card color="light">
    <ion-card-content style="text-align:justify">{{tareas.descripcion}}</ion-card-content>
  </ion-card>

  <p style="padding-left:5%;">Anotaciones:</p>
  <ion-card color="light">
    <ion-card-content style="text-align:justify">{{tareas.anotaciones}}</ion-card-content>
  </ion-card>

  <ion-button fill="outline" color="light" expand="block" (click)="cambiarDashboard()">
    Aceptar
  </ion-button>
</ion-content>
