<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-img id="logo" src="./assets/icon/logo.png"></ion-img>
        </ion-col>
        <ion-col style="padding-top: 15px;" size="6">
          <ion-title>Dashboard</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="tertiary">
  <ion-fab (click)="cargarNuevaTarea()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1 style="text-align:center">Tareas</h1>

  <div *ngFor="let item of tareas">
    <ion-card (click)="cargarTarea()">
      <ion-card-header color="{{item[2]}}">
        <ion-card-subtitle>{{item[1]}}</ion-card-subtitle>
        <ion-card-title>{{item[0]}}</ion-card-title>
      </ion-card-header>
      <p style="text-align:center">Progreso: {{item[3]*100}}%</p>
      <ion-progress-bar color="{{item[2]}}" value="{{item[3]}}"></ion-progress-bar>
      <hr>
    </ion-card>
  </div>
</ion-content>