<ion-content color="primary" [fullscreen]="true" class="hola">
  <div>
    <ion-img id="logo" src="./assets/icon/logo.png"></ion-img>
    <p class="workflow">Workflow</p>
    <p class="text1">Correo:</p>
    <ion-input class="emailInput" type="email"></ion-input>
    <p class="text1">Contraseña:</p>
    <ion-input class="passInput" type="password" min="8"></ion-input>
    <ion-button color="light" class="btn">Entrar</ion-button>
    <p class="text2">¿Aún no estás registrado?</p>
    <p class="text3">¡Regístrate aquí!</p>
  </div>
</ion-content>